<mat-toolbar color="primary">
  <span>Chat</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>Menu</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="">Home</button>
  <button *ngIf="authService.loggedIn()" mat-menu-item routerLink="chat">Chat</button>
  <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="signup">Sign Up</button>
  <button *ngIf="!authService.loggedIn()" mat-menu-item routerLink="signin">Sign In</button>
  <button *ngIf="authService.loggedIn()" mat-menu-item (click)="onLogout()">Logout</button>  
</mat-menu>
